{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Ecommerce</title>
  
  <!-- Reuse existing general & login css -->
  <link rel="stylesheet" href="../static/styles/shared/general.css">
  <link rel="stylesheet" href="../static/styles/pages/login.css">
</head>
<body>
  <div class="auth-container">
    <div class="auth-logo-container">
      <h2 style="color: black; margin: 0; text-align: center; margin-bottom: 20px;">Ecommerce</h2>
    </div>

    <div class="auth-card">
      <h1 class="auth-title">Sign in</h1>
      
      <form method = "post" class="auth-form">
          {% csrf_token %}
        <div class="input-group">
          <label for="email">Email or mobile phone number</label>
          <input type="text" id="email" name="email" required>
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn-primary js-login-button" style="margin-bottom: 12px;">Continue</button>
      </form>

      <div class="auth-divider">
        <span>New to Ecommerce?</span>
      </div>

      <a href="{% url 'register'%}" class="btn-secondary text-center block" style="margin-bottom: 25px;">Create your account</a>
    </div>

    <footer class="auth-footer">
      <div class="footer-links">
        <a href="#">Help</a>
      </div>
      <p class="footer-copyright">© 2023, Ecommerce, Inc. or its affiliates</p>
    </footer>

    <script src="{% static 'scripts/login.js'%}" type="module"></script>
  </div>
</body>
</html>